@page
@model NoAccessModel
@{
    ViewData["Title"] = "Sorry...";
}
<h2>@ViewData["Title"]</h2>

<p>Sorry you are not old enough to use this feature.  You must be 18 or over in order to access our products</p>
